{% extends "Main/Base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{{ form.media }}
{% bootstrap_javascript jquery='full' %}

{% block extrahead %}
{{ form.media }}     
{% endblock %}
{% block content %}


{% include 'Main/RegularNavbar.html'%}




<title>{% trans "Egypt Fabrics" %} | {{object.title}} </title>





<br>
<br>





<main class="mo">
  <div class="container">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="#"></a></li>
            <li class="breadcrumb-item"><a href="#"> </a></li>
            <li class="breadcrumb-item active"></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">

            
            <img class="active" src="{{object.image.url}}">
          </div>
          <ul class="image-list">
       
            <li class="image-item"><img src="{{object.image.url}}"></li>
            {% if object.image2 %}
         
            <li class="image-item"><img src="{{object.image2.url}}"></li>
                 
            {% endif %}

            {% if object.image3 %}
            <li class="image-item"><img src="{{object.image3.url}}"></li>
                      
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>{{object.title}}</h1>
        <h2>{% trans "Price:" %} {{object.price}}0</h2>
        <p style="text-transform: capitalize; font-size: 8px; padding-left: 3px;">{% trans "price by Egyptian pound" %}</p>
        

 <div class="col-md-10 pull-left">
    <h2  style="background-color: #333; color:white; text-align: center; padding: 6px !important;">{% trans "Prices and sizes" %}</h2> 
    <form action="{{ object.get_add_to_cart_url }}" method="POST" name="object.get_add_to_cart_url"> {% csrf_token %}
      {% if object.variation_set.all %}
        
     
      <select name="size" class="form-control form-control-lg" style="color: white !important;">
        {% for ite in object.variation_set.all %}
        <option value="{{ite.pricy}}      {{ite.Title}}" > {{ite.Title}} - {% trans "LE" %} {{ite.pricy}}0</option>
        {% endfor %}
      </select>
      {% endif %}
      <br>
      <br>
      <br>
      <br>
      <br>
      <a id="btcl" href="{{ object.get_add_to_cart_url }}">
        <button  id="btcl" class="add-to-cart">{% trans "Add To Cart" %}</button></a>
            
            <div class="description">
             
              <p>{{object.description|safe}}</p>
            </div>
    
     
    </div>
    <tr>
      <br>
      <br>


  
  <br>
  <br>












 
<style>

  #btcl:hover{
    color: black !important;
  
  }
  </style>

      </div>
    </div>

  </div>
</main>









<script>
  const activeImage = document.querySelector(".product-image .active");
  const productImages = document.querySelectorAll(".image-list img");
  const navItem = document.querySelector('a.toggle-nav');
  
  function changeImage(e) {
    activeImage.src = e.target.src;
  }
  
  function toggleNavigation(){
    this.nextElementSibling.classList.toggle('active');
  }
  
  productImages.forEach(image => image.addEventListener("click", changeImage));
  navItem.addEventListener('click', toggleNavigation);  
  </script>
  
  
  
  
  
  
  
  
  
  







 



  {% if  relevant_items %}
  <div class="mo">


  <div class="container"  id="go"  style=" border-radius: 5px;">
<div class="container"> 
    <h2 id="mae" style="text-align: center !important; font-size: 32px; color: rgb(255, 255, 255); background-color: #333; padding: 20px !important;">{% trans "RELATED PRODUCTS" %} </h2>
  </div>

 <br>

     
    <div class="container" id="go"> 
  
      <div class="row">
     
     
            {% for item in relevant_items %}
            <div class="col-lg-4 col-md-4 mb-4">
  
              <div class="card" >
  
                <div class="view overlay">
             
            
                  <img style="height: 200px !important; " src="{{ item.image.url }}" class="card-img-top">
                




















{% comment %}
{% if item.category == 'S' %}
<span class="badge badge-primary" style="padding: 10px !important;">  
  {{item.get_category_display}}
</span> {% endif %}


{% if item.category == 'Q' %}
<span class="badge badge-danger" style="padding: 10px !important;">  
 {{item.get_category_display}}
</span> {% endif %}



{% if item.category == 'K' %}
<span class="badge badge-warning" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}

{% if item.category == 'Si' %}
<span style="background-color: green !important; color: white !important; padding: 10px !important;" class="badge badge-light" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}

{% if item.category == 'SK' %}
<span class="badge badge-default" style="padding: 10px !important; background-color: tomato !important;">  
{{item.get_category_display}}
</span> {% endif %}

{% if item.category == 'PS' %}
<span class="badge badge-default" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}


{% if item.category == 'PQ' %}
<span class="badge badge-warning" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}


{% if item.category == 'PK' %}
<span class="badge badge-success" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}

{% if item.category == 'PB' %}
<span class="badge badge-info" style="padding: 10px !important;">  
{{item.get_category_display}}
</span> {% endif %}

{% endcomment %}

















  
                  <a href="{{ item.get_absolute_url }}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
         
  
  
  
  
                <div class="card-body text-center" style="height: 250px !important; margin: 0px !important; padding-bottom: 3px !important;">
                  <a href="" class="grey-text">
  
            
                  </a>
                  <h5>
                    <strong style="font-size: 15px !important; font-weight: bold !important; ">
                      <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title|truncatechars:50 }}
                       
                      </a>
                    </strong>
                  </h5>
  
                  <h4 class="font-weight-light blue-text">
                    <strong style="font-weight: bold !important;">
                    {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                 
                    {{ item.price }}0  
                    
                    {% endif %}
                    </strong>
                  </h4>
                 
                  <a href="{{ item.get_absolute_url }}">
               <button class="btn btn-dark btn-block"> {% trans "Buy Now" %} </button></a>
                </div>
  
              </div>
  
            </div>
            {% endfor %}
          </div>
       
        </section>
      </div>
    </div>
    {% endif %}
        <!--Section: Products v.3-->
  <br>
  <br>
  <br>
  <br>
  <br>





<script>

$('document').ready(function(){


  $('.requiredField').css('color', 'white');
  $('.requiredField').css('border', '1px solid black');
   $('.form-control').css('background-color', '#333');
   $('.requiredField').css('background-color', '#333');
   $('#top-search').hide();






});

</script>

<script>
$('document').ready(function(){
  $('#top-search').hide();
  $('#langlang').hide();
});
</script>



</div>




{% endblock content %}
